@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --purple: #7c3aed;
  --white: #fff;
  --black: #333;
  --light: rgba(0, 0, 0, 0.3);
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7.5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 5rem;
}
body {
  background-color: #eee;
}
// header section starts
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  border-bottom: 0.1rem solid var(--light);
  padding: 1.5rem 9%;
}
header .logo {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--black);
  font-size: 3rem;
}
header .logo span {
  color: var(--purple);
}
header form {
  display: flex;
  align-items: center;
  width: 40rem;
  border-radius: 5rem;
  height: 5rem;
  background: var(--black);
  overflow: hidden;
}
header form input {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 1.7rem;
  color: var(--white);
  padding: 0 2rem;
  text-transform: none;
}
header form label {
  color: var(--white);
  font-size: 2rem;
  padding: 0rem 1.5rem;
  cursor: pointer;
}
header form label:hover {
  color: var(--purple);
}
header .icons div,
header .icons a {
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  line-height: 4rem;
  background: var(--black);
  border-radius: 50%;
  text-align: center;
  color: var(--white);
  margin-right: 0.7rem;
}

header .icons div:hover,
header .icons a:hover {
  background-color: var(--purple);
  transform: rotate(360deg);
}

header.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

body {
  height: 200rem;
}

// header section ends
.navbar.active {
  left: 0;
  box-shadow: 0 0 0 0 100vw var(--light);
}
.navbar {
  position: fixed;
  top: 0;
  left: -120%;
  height: 100%;
  background: var(--white);
  padding: 3rem;
  width: 30rem;
}
.navbar .user {
  text-align: center;
  margin: 3rem auto;
}
.navbar .user img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 0.5rem solid var(--white);
  object-fit: cover;
  box-shadow: 5rem 2rem 0 -3rem var(--purple), -5rem -2rem 0 -3rem var(--purple),
    0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.navbar .user h3 {
  padding: 0.5rem;
  color: var(--black);
  font-weight: 500;
  font-size: 2rem;
}
.navbar .links a {
  display: block;
  border-bottom: 0.1rem solid var(--light);
  font-size: 2rem;
  padding: 1.5rem 0;
  color: var(--black);
}
.navbar .links a:last-child {
  border: none;
}
.navbar .links a:hover {
  letter-spacing: 0.2rem;
  color: var(--purple);
}
.navbar #close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  color: var(--black);
}
.navbar #close:hover {
  color: var(--purple);
}
/*media queries*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  header {
    flex-flow: column;
  }
  header form {
    width: 100%;
    margin: 2rem 0;
  }
  header.active {
    transform: translateY(-12.5rem);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
